## Replacement project

## DataCo Smart Supply Chain — Tailored Project Brief
Project title-
## Optimizing DataCo’s Supply Chain: Data Cleaning, EDA & Tableau Dashboard

## Problem statement

DataCo wants to reduce supply-chain costs and improve delivery performance while protecting profitability. Using the DataCo Smart Supply Chain dataset (orders, products, shipping, customer demographics, vendors), your goal is to clean and enrich the data, perform exploratory analyses to reveal bottlenecks and cost drivers, and build an interactive Tableau dashboard that helps operations and procurement make evidence-based decisions about vendor selection, regional priorities, and shipping strategies.

Business objectives

Identify the vendors, products and regions that drive revenue and profit — and those that cause losses.

Quantify shipping performance (delivery times, delays) and its effect on cost, profit and customer satisfaction.

Detect anomalies (outliers and data quality issues) that mask real insights.

Provide prioritized, actionable recommendations: vendor negotiation targets, shipping cost reduction opportunities, and category-focused profit improvements.

## Importing the necessary libraries

In [41]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns   
%matplotlib inline

## Opening  the file using pandas

In [42]:
import pandas as pd

# Try with latin1 or ISO-8859-1 if utf-8 fails
df_supply = pd.read_csv("DataCoSupplyChainDataset.csv", encoding="latin1")
df_desc   = pd.read_csv("DescriptionDataCoSupplyChain.csv", encoding="latin1")
df_logs   = pd.read_csv("tokenized_access_logs.csv", encoding="latin1")

# Preview
print(df_supply.head())
print(df_desc.head())
print(df_logs.head())

       Type  Days for shipping (real)  Days for shipment (scheduled)  \
0     DEBIT                         3                              4
1  TRANSFER                         5                              4
2      CASH                         4                              4
3     DEBIT                         3                              4
4   PAYMENT                         2                              4

   Benefit per order  Sales per customer   Delivery Status  \
0          91.250000          314.640015  Advance shipping
1        -249.089996          311.359985     Late delivery
2        -247.779999          309.720001  Shipping on time
3          22.860001          304.809998  Advance shipping
4         134.210007          298.250000  Advance shipping

   Late_delivery_risk  Category Id   Category Name Customer City  ...  \
0                   0           73  Sporting Goods        Caguas  ...
1                   1           73  Sporting Goods        Caguas  ...
2                   0           73  Sporting Goods      San Jose  ...
3                   0           73  Sporting Goods   Los Angeles  ...
4                   0           73  Sporting Goods        Caguas  ...

  Order Zipcode Product Card Id Product Category Id  Product Description  \
0           NaN            1360                  73                  NaN
1           NaN            1360                  73                  NaN
2           NaN            1360                  73                  NaN
3           NaN            1360                  73                  NaN
4           NaN            1360                  73                  NaN

                                  Product Image  Product Name Product Price  \
0  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
1  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
2  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
3  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
4  http://images.acmesports.sports/Smart+watch   Smart watch         327.75

  Product Status shipping date (DateOrders)   Shipping Mode
0              0             2/3/2018 22:56  Standard Class
1              0            1/18/2018 12:27  Standard Class
2              0            1/17/2018 12:06  Standard Class
3              0            1/16/2018 11:45  Standard Class
4              0            1/15/2018 11:24  Standard Class

[5 rows x 53 columns]
                          FIELDS  \
0                           Type
1  Days for shipping (real)
2  Days for shipment (scheduled)
3              Benefit per order
4             Sales per customer

                                         DESCRIPTION
0                        :  Type of transaction made
1   :  Actual shipping days of the purchased product
2  :  Days of scheduled delivery of the purchased...
3                       :  Earnings per order placed
4      :  Total sales per customer made per customer
                                      Product             Category  \
0     adidas Brazuca 2017 Official Match Ball  baseball & softball
1       The North Face Women's Recon Backpack   hunting & shooting
2      adidas Kids' RG III Mid Football Cleat       featured shops
3  Under Armour Men's Compression EV SL Slide          electronics
4                 Pelican Sunstream 100 Kayak         water sports

            Date Month  Hour Department              ip  \
0  9/1/2017 6:00   Sep     6   fitness     37.97.182.65
1  9/1/2017 6:00   Sep     6  fan shop     206.56.112.1
2  9/1/2017 6:00   Sep     6   apparel    215.143.180.0
3  9/1/2017 6:00   Sep     6  footwear     206.56.112.1
4  9/1/2017 6:01   Sep     6  fan shop   136.108.56.242

                                                 url
0  /department/fitness/category/baseball%20&%20so...
1  /department/fan%20shop/category/hunting%20&%20...
2  /department/apparel/category/featured%20shops/...
3  /department/footwear/category/electronics/prod...
4  /department/fan%20shop/category/water%20sports...

## Analysing the Data

In [43]:
## looking at what data is there checking for null values and data types
df_supply.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [44]:
df_logs.head()

,Product,Category,Date,Month,Hour,Department,ip,url
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,9/1/2017 6:00,Sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,The North Face Women's Recon Backpack,hunting & shooting,9/1/2017 6:00,Sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...
2,adidas Kids' RG III Mid Football Cleat,featured shops,9/1/2017 6:00,Sep,6,apparel,215.143.180.0,/department/apparel/category/featured%20shops/...
3,Under Armour Men's Compression EV SL Slide,electronics,9/1/2017 6:00,Sep,6,footwear,206.56.112.1,/department/footwear/category/electronics/prod...
4,Pelican Sunstream 100 Kayak,water sports,9/1/2017 6:01,Sep,6,fan shop,136.108.56.242,/department/fan%20shop/category/water%20sports...

In [45]:
df_desc.head()

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer

In [46]:
df_desc.info()
df_logs.info()
df_supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FIELDS       52 non-null     object
 1   DESCRIPTION  52 non-null     object
dtypes: object(2)
memory usage: 960.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469977 entries, 0 to 469976
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Product     469977 non-null  object
 1   Category    469977 non-null  object
 2   Date        469977 non-null  object
 3   Month       469977 non-null  object
 4   Hour        469977 non-null  int64
 5   Department  469977 non-null  object
 6   ip          469977 non-null  object
 7   url         469977 non-null  object
dtypes: int64(1), object(7)
memory usage: 28.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [47]:
df_supply.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [48]:
df_desc.isnull().sum()

FIELDS         0
DESCRIPTION    0
dtype: int64

In [49]:
df_logs.isnull().sum()

Product       0
Category      0
Date          0
Month         0
Hour          0
Department    0
ip            0
url           0
dtype: int64

## Droping null values

In [50]:
df_supply = df_supply.dropna(subset=['Customer Zipcode', 'Customer Lname'])
df_supply = df_supply[(df_supply['Customer Zipcode'] != "Unknown") & 
                      (df_supply['Customer Lname'] != "Unknown")]

In [51]:
df_supply.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180508 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180508 non-null  object
 1   Days for shipping (real)       180508 non-null  int64
 2   Days for shipment (scheduled)  180508 non-null  int64
 3   Benefit per order              180508 non-null  float64
 4   Sales per customer             180508 non-null  float64
 5   Delivery Status                180508 non-null  object
 6   Late_delivery_risk             180508 non-null  int64
 7   Category Id                    180508 non-null  int64
 8   Category Name                  180508 non-null  object
 9   Customer City                  180508 non-null  object
 10  Customer Country               180508 non-null  object
 11  Customer Email                 180508 non-null  object
 12  Customer Fname                 180508 non-null  object
 13  Customer Id                    180508 non-null  int64
 14  Customer Lname                 180508 non-null  object
 15  Customer Password              180508 non-null  object
 16  Customer Segment               180508 non-null  object
 17  Customer State                 180508 non-null  object
 18  Customer Street                180508 non-null  object
 19  Customer Zipcode               180508 non-null  float64
 20  Department Id                  180508 non-null  int64
 21  Department Name                180508 non-null  object
 22  Latitude                       180508 non-null  float64
 23  Longitude                      180508 non-null  float64
 24  Market                         180508 non-null  object
 25  Order City                     180508 non-null  object
 26  Order Country                  180508 non-null  object
 27  Order Customer Id              180508 non-null  int64
 28  order date (DateOrders)        180508 non-null  object
 29  Order Id                       180508 non-null  int64
 30  Order Item Cardprod Id         180508 non-null  int64
 31  Order Item Discount            180508 non-null  float64
 32  Order Item Discount Rate       180508 non-null  float64
 33  Order Item Id                  180508 non-null  int64
 34  Order Item Product Price       180508 non-null  float64
 35  Order Item Profit Ratio        180508 non-null  float64
 36  Order Item Quantity            180508 non-null  int64
 37  Sales                          180508 non-null  float64
 38  Order Item Total               180508 non-null  float64
 39  Order Profit Per Order         180508 non-null  float64
 40  Order Region                   180508 non-null  object
 41  Order State                    180508 non-null  object
 42  Order Status                   180508 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180508 non-null  int64
 45  Product Category Id            180508 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180508 non-null  object
 48  Product Name                   180508 non-null  object
 49  Product Price                  180508 non-null  float64
 50  Product Status                 180508 non-null  int64
 51  shipping date (DateOrders)     180508 non-null  object
 52  Shipping Mode                  180508 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 74.4+ MB

## Checking for duplicates

In [52]:
df_supply.duplicated().sum()

np.int64(0)

In [53]:
df_desc.duplicated().sum()

np.int64(0)

In [54]:
df_logs.duplicated().sum()

np.int64(3249)

In [55]:
df_logs = df_logs.drop_duplicates(keep='last')

In [56]:
df_logs.duplicated().sum()

np.int64(0)

## Looking for the data types in the data

In [57]:
df_logs.dtypes

Product       object
Category      object
Date          object
Month         object
Hour           int64
Department    object
ip            object
url           object
dtype: object

In [58]:
df_desc.dtypes

FIELDS         object
DESCRIPTION    object
dtype: object

In [59]:
df_supply.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

In [60]:
df_desc.describe()

       FIELDS               DESCRIPTION
count      52                        52
unique     52                        51
top      Type  :  Product category code
freq        1                         2

In [61]:
df_logs.describe()

                Hour
count  466728.000000
mean       14.564078
std         5.572751
min         0.000000
25%        10.000000
50%        15.000000
75%        20.000000
max        23.000000

In [62]:
df_supply.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,180508.000000,...,180508.000000,180508.000000,180508.000000,180508.000000,24840.000000,180508.000000,180508.000000,0.0,180508.000000,180508.0
mean,3.497673,2.931837,21.971563,183.101751,0.548297,31.849270,6690.778857,35920.246698,5.443454,29.719858,...,2.127706,203.765496,183.101751,21.971563,55426.132327,692.469414,31.849270,NaN,141.222139,0.0
std,1.623743,1.374457,104.433860,120.041578,0.497663,15.637996,4162.304984,37542.214613,1.629175,9.813737,...,1.453469,132.270788,120.041578,104.433860,31919.279101,336.417349,15.637996,NaN,139.726960,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.000000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6456.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78202.500000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [63]:
df_supply.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class